html {
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f6f8 18%, #d8e1e7 59%, #d8e1e7 78%, #b5c6d0 100%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2f6f8 18%,#d8e1e7 59%,#d8e1e7 78%,#b5c6d0 100%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2f6f8 18%,#d8e1e7 59%,#d8e1e7 78%,#b5c6d0 100%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0);
    height: 100%;
}

body { 
    margin: 0;
    padding-bottom: 10px;
}

.main {
    margin: 0 auto;
    width: 80%;
    padding-top: 150px;
}

.createContainer, .joinContainer {
	margin: 0 auto;
	display: inline-block;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    width: 45%;
    min-width: 300px;
}

.createContainer .header, .joinContainer .header{
	padding: 10px 0 10px 0;
	background-color: #efefef;
	border-bottom: 1px solid #DDDDDD;
	font-size: 20px;
	padding-left: 10px;
}

.createContainer .body, .joinContainer .body {
	padding: 10px 10px 20px 15px;
}

.createContainer input[type=text], .joinContainer input[type=text] {
	margin: 10px 0 10px 0;
}

@media screen and (max-width: 100px){
	.createContainer, .joinContainer{
		width: 300px;
		float: left;
		margin: 10px;
	}
}